#### Version of the Library:

In [1]:
#python version
import sys
print('Python :{}'.format(sys.version))

#scipy
import scipy
print('Scipy :{}'.format(scipy.__version__))

#Numpy
import numpy
print('Numpy :{}'.format(numpy.__version__))

#Matplotlib
import matplotlib
print('Matplotlib :{}'.format(matplotlib.__version__))

#Pandas
import pandas
print('Pandas :{}'.format(pandas.__version__))

#Sklearn
import sklearn
print('Sklearn :{}'.format(pandas.__version__))

#Flask
import flask
print('Flask :{}'.format(flask.__version__))

import conda
print('conda :{}'.format(conda.__version__))

Python :3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
Scipy :1.5.2
Numpy :1.19.1
Matplotlib :3.3.1
Pandas :1.1.1
Sklearn :1.1.1
Flask :1.1.2
conda :4.8.4

#### Import Library

In [2]:
#Loading all the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Load data: as csv file

In [3]:
recipes = pd.read_csv("Recipes.csv")
defects = pd.read_csv("Defects.csv")

In [4]:
print(f"Recipes data: \n")
print(recipes.head(2))
print("----------------------------------------------------------------------")
print(f"Defects data:\n")
print(defects.head(2))

Recipes data:

   HEAT_ID  Material_Code            NAME    WEIGHT
0  1701190            112  # 2 HEAVY MELT  158758.0
1  1701192            113        PIG IRON   50306.6
----------------------------------------------------------------------
Defects data:

   PIECE_ID  HEAT_ID  DEFECT_TYPE DEFECT_NAME DEFECT_GROUP_ID  \
0    167872  1701192           59       Scabs              SU
1    167867  1701192           59       Scabs              SU

  DEFECT_GROUP_Name
0         1-Surface
1         1-Surface

# Data preprocessing or Data Cleaning:

###### data Info & Unique value:

In [5]:
#uniq name from data
print(f"Unique HEAT_ID of Recipes: {recipes['Material_Code'].unique()}\n")
print(f"Unique HEAT_ID of Recipes: {recipes['HEAT_ID'].unique()}")
print("------------------------------------------------------------------------------------")
print(f"Unique DEFECT_TYPE of defects: {defects['DEFECT_TYPE'].unique()}")
print(len(recipes['Material_Code'].unique()))

Unique HEAT_ID of Recipes: [112 113 115 114 117 119 121 126 124 120 116 180 166 183 182 190 181 122
 125 118 208 209 207 210 211 215 212 214 213]

Unique HEAT_ID of Recipes: [1701190 1701192 1701194 ... 1811202 1811204 1811206]
------------------------------------------------------------------------------------
Unique DEFECT_TYPE of defects: [ 59  63  71  89  90 146 148 149 150 167 168 169 182 190 151 157 147 197
 134 153 155 154 156 211 193  56  46  87  49  60  52 212 105 186 130 118
 104 125  96 173 165  88 103 114 175 176 100  99  41  66 126 191 192  91
  55 184  53 121  79 204 187 185 194 107  94 102  47 214  86  68 101 198
  43  80 183 174 110 119  61 188  74 120 109  92 170 133  54  95 111  62
  78 108 113  37  65  39 213  73  44 128 201 115  98 208  75  97  69  81
 202 135  38 152 207 199  77 136 216 196  36 205 117  72  82  93  45  76
  42 164  64 210 129 127  57 200 116  83 222 162 223 195 171 122 206 158
  58 178 177 172  48  50 209 215 106  67  51  40 238 217 112 159 160  84]
29

In [6]:
print(f"Length of Recipes data: {len(recipes)} and Shape of the data {recipes.shape}")
print(f"Length of Defects data: {len(defects)} and Shape of the data {defects.shape}")

Length of Recipes data: 100002 and Shape of the data (100002, 4)
Length of Defects data: 563048 and Shape of the data (563048, 6)

In [7]:
print(f"All Columns name of Recipes: {list(recipes.columns)}")
print(f"All Columns name of Defects: {list(defects.columns)}")

All Columns name of Recipes: ['HEAT_ID', 'Material_Code', 'NAME', 'WEIGHT']
All Columns name of Defects: ['PIECE_ID', 'HEAT_ID', 'DEFECT_TYPE', 'DEFECT_NAME', 'DEFECT_GROUP_ID', 'DEFECT_GROUP_Name']

In [8]:
#Make Pivot table for 'recipes.csv' file base on 'HEAT_ID'
df = pd.pivot_table(recipes, index="HEAT_ID", columns=['Material_Code'], values='WEIGHT')

df.reset_index(inplace=True)

In [9]:
df.head(2)

Material_Code,HEAT_ID,112,113,114,115,116,117,118,119,120,...,190,207,208,209,210,211,212,213,214,215
0,1701190,158758.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1701192,NaN,50306.6,3473.6,2215.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###### Add New Columns:Num,Sum,Mean,Repeat

In [10]:
#Add Sum Columns
df["Num"]=df.iloc[:,1:30].count(axis=1)
df['Sum'] = df.iloc[:, 1:30].sum(axis=1)
df['Mean'] = df.iloc[:, 1:30].mean(axis=1)

In [11]:
df

Material_Code,HEAT_ID,112,113,114,115,116,117,118,119,120,...,209,210,211,212,213,214,215,Num,Sum,Mean
0,1701190,158758.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,158758.0,158758.000000
1,1701192,NaN,50306.6,3473.6,2215.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,55996.0,18665.333333
2,1701194,NaN,49903.8,3426.0,2322.8,NaN,34129.7,NaN,4545.9,2180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,160919.8,17879.977778
3,1701196,NaN,49893.9,3173.8,1812.6,3173.8,35378.9,NaN,4533.7,1812.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,139237.8,13923.780000
4,1701198,NaN,22624.8,1544.9,1046.0,NaN,15114.6,NaN,2066.6,1106.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,50799.3,6349.912500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12741,1811198,NaN,31282.9,NaN,NaN,NaN,50207.3,6172.5,6422.9,NaN,...,NaN,NaN,NaN,NaN,8431.4,NaN,NaN,9,151817.6,16868.622222
12742,1811200,NaN,32899.5,NaN,NaN,NaN,50506.7,7185.4,6217.4,NaN,...,NaN,NaN,NaN,NaN,7839.4,NaN,NaN,9,152339.2,16926.577778
12743,1811202,NaN,31732.0,NaN,NaN,NaN,51175.3,6381.1,6274.6,NaN,...,NaN,NaN,NaN,NaN,8656.4,NaN,NaN,9,152226.8,16914.088889
12744,1811204,NaN,32145.2,NaN,NaN,NaN,51277.3,6783.5,7053.8,NaN,...,NaN,NaN,NaN,NaN,8866.8,NaN,NaN,9,152497.8,16944.200000
12745,1811206,NaN,32147.5,NaN,NaN,NaN,51038.7,6841.5,6534.9,NaN,...,NaN,NaN,NaN,NaN,8785.2,NaN,NaN,9,152180.4,16908.933333

In [12]:
print(f"Shape of Recipies the data: {df.shape}")

Shape of Recipies the data: (12746, 33)

#### Merge Data set:

In [13]:
#Marge recipes data with defect data,Fill with 0, Drop the duplicates values
df = pd.merge(defects, df, on = 'HEAT_ID')
df = df.fillna(0)

#Drop Duplicates
df=df.drop_duplicates()

#Drop duplicate columns
df = df.loc[:,~df.columns.duplicated()]
df


df.shape

(419277, 38)

In [14]:
df.head()

,PIECE_ID,HEAT_ID,DEFECT_TYPE,DEFECT_NAME,DEFECT_GROUP_ID,DEFECT_GROUP_Name,112,113,114,115,...,209,210,211,212,213,214,215,Num,Sum,Mean
0,167872,1701192,59,Scabs,SU,1-Surface,0.0,50306.6,3473.6,2215.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,55996.0,18665.333333
1,167867,1701192,59,Scabs,SU,1-Surface,0.0,50306.6,3473.6,2215.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,55996.0,18665.333333
2,167869,1701192,63,Scratches,SU,1-Surface,0.0,50306.6,3473.6,2215.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,55996.0,18665.333333
3,167871,1701192,71,Stain,SU,1-Surface,0.0,50306.6,3473.6,2215.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,55996.0,18665.333333
4,167868,1701192,71,Stain,SU,1-Surface,0.0,50306.6,3473.6,2215.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,55996.0,18665.333333

In [15]:
#Sorting/Describing Data
#df.sort_values(['DEFECT_TYPE', 'DEFECT_GROUP_ID'], ascending=[0,1])
#df.head(4)

In [16]:
#Check the Null Value
#df.isnull().sum()

In [17]:
#Add Repeat Columns

df['Repeat']=df.groupby('HEAT_ID').HEAT_ID.transform('count')

In [18]:
df

,PIECE_ID,HEAT_ID,DEFECT_TYPE,DEFECT_NAME,DEFECT_GROUP_ID,DEFECT_GROUP_Name,112,113,114,115,...,210,211,212,213,214,215,Num,Sum,Mean,Repeat
0,167872,1701192,59,Scabs,SU,1-Surface,0.0,50306.6,3473.6,2215.8,...,0.0,0.0,0.0,0.0,0.0,0.0,3,55996.0,18665.333333,79
1,167867,1701192,59,Scabs,SU,1-Surface,0.0,50306.6,3473.6,2215.8,...,0.0,0.0,0.0,0.0,0.0,0.0,3,55996.0,18665.333333,79
2,167869,1701192,63,Scratches,SU,1-Surface,0.0,50306.6,3473.6,2215.8,...,0.0,0.0,0.0,0.0,0.0,0.0,3,55996.0,18665.333333,79
3,167871,1701192,71,Stain,SU,1-Surface,0.0,50306.6,3473.6,2215.8,...,0.0,0.0,0.0,0.0,0.0,0.0,3,55996.0,18665.333333,79
4,167868,1701192,71,Stain,SU,1-Surface,0.0,50306.6,3473.6,2215.8,...,0.0,0.0,0.0,0.0,0.0,0.0,3,55996.0,18665.333333,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511067,477203,1811206,182,pending PQA results,OTH,0-Other,0.0,32147.5,0.0,0.0,...,0.0,0.0,0.0,8785.2,0.0,0.0,9,152180.4,16908.933333,122
511068,477203,1811206,212,Pending Test Results,OTH,0-Other,0.0,32147.5,0.0,0.0,...,0.0,0.0,0.0,8785.2,0.0,0.0,9,152180.4,16908.933333,122
511069,477203,1811206,193,Length Questionable - Verify Length,DM,3-Dimension,0.0,32147.5,0.0,0.0,...,0.0,0.0,0.0,8785.2,0.0,0.0,9,152180.4,16908.933333,122
511070,477203,1811206,190,Wait For Weight - No L2 Scale Weight,DM,3-Dimension,0.0,32147.5,0.0,0.0,...,0.0,0.0,0.0,8785.2,0.0,0.0,9,152180.4,16908.933333,122
511071,477203,1811206,216,Bad Dimensions on Calculated Weight,OTH,0-Other,0.0,32147.5,0.0,0.0,...,0.0,0.0,0.0,8785.2,0.0,0.0,9,152180.4,16908.933333,122

One Hot Encoding for DEFECT_GROUP_ID:

In [19]:
print(f"Unique HEAT_ID of Recipes: {df['DEFECT_GROUP_ID'].unique()}")

Unique HEAT_ID of Recipes: ['SU' 'SH' 'DM' 'OTH' 'MET' 'CCTO' 'IDF' 'PR' 'PK' 'EQ']

In [20]:
#dummies = pd.get_dummies(df.DEFECT_GROUP_ID)
#dummies.head(3)

In [21]:
#concate 
#df = pd.concat([df,dummies.drop('SU',axis='columns')],axis='columns')
#df.head()

In [22]:
df.columns

Index([         'PIECE_ID',           'HEAT_ID',       'DEFECT_TYPE',
             'DEFECT_NAME',   'DEFECT_GROUP_ID', 'DEFECT_GROUP_Name',
                       112,                 113,                 114,
                       115,                 116,                 117,
                       118,                 119,                 120,
                       121,                 122,                 124,
                       125,                 126,                 166,
                       180,                 181,                 182,
                       183,                 190,                 207,
                       208,                 209,                 210,
                       211,                 212,                 213,
                       214,                 215,               'Num',
                     'Sum',              'Mean',            'Repeat'],
      dtype='object')

Drop Columns:

In [23]:
df = df.drop(columns=['PIECE_ID','DEFECT_GROUP_ID', 'DEFECT_NAME', 'DEFECT_GROUP_Name','Num','Sum','Mean','Repeat'])
df.reset_index(inplace=True)
df

,index,HEAT_ID,DEFECT_TYPE,112,113,114,115,116,117,118,...,190,207,208,209,210,211,212,213,214,215
0,0,1701192,59,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1701192,59,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1701192,63,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1701192,71,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1701192,71,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419272,511067,1811206,182,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0
419273,511068,1811206,212,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0
419274,511069,1811206,193,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0
419275,511070,1811206,190,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0
419276,511071,1811206,216,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0

#### Final Data set:

In [24]:
df2=df[['HEAT_ID',112,113,114,115,116,117,118,119,120,121,122,124,125,126,166,180,181,182,183,190,207,208,209,210,211,212,213,214,215,'DEFECT_TYPE']]
df2

,HEAT_ID,112,113,114,115,116,117,118,119,120,...,207,208,209,210,211,212,213,214,215,DEFECT_TYPE
0,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59
1,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59
2,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,63
3,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,71
4,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419272,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0,182
419273,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0,212
419274,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0,193
419275,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0,190
419276,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0,216

In [25]:
df2.shape

(419277, 31)

In [26]:
df3 = df2.drop_duplicates()
df3

,HEAT_ID,112,113,114,115,116,117,118,119,120,...,207,208,209,210,211,212,213,214,215,DEFECT_TYPE
0,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59
2,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,63
3,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,71
5,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89
11,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419167,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0,147
419174,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0,212
419175,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0,193
419177,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0,55
419178,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0,216

In [27]:
df3.columns

Index([    'HEAT_ID',           112,           113,           114,
                 115,           116,           117,           118,
                 119,           120,           121,           122,
                 124,           125,           126,           166,
                 180,           181,           182,           183,
                 190,           207,           208,           209,
                 210,           211,           212,           213,
                 214,           215, 'DEFECT_TYPE'],
      dtype='object')

## Select Model and Tharin the Dataset:

Split The Data X and y :

In [28]:
#importing the data_process file which includes data preprocessing functions
from data_preprocess import*

#Loading all the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import precision_score, recall_score, f1_score
from yellowbrick.classifier import ClassificationReport
from sklearn.linear_model import LogisticRegression
from matplotlib.colors import ListedColormap
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB

In [29]:
X = df3.drop(['DEFECT_TYPE'],axis='columns')
X.head(3)

,HEAT_ID,112,113,114,115,116,117,118,119,120,...,190,207,208,209,210,211,212,213,214,215
0,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
y = df3.DEFECT_TYPE
y.head(3)

0    59
2    63
3    71
Name: DEFECT_TYPE, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split
#split Train and test X,y data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [32]:
print(f"Length of X_train :{len(X_train)}")
print(f"Length of y_train :{len(y_train)}")
print(f"Length of X_test :{len(X_test)}")
print(f"Length of y_test :{len(y_test)}")

Length of X_train :70016
Length of y_train :70016
Length of X_test :17505
Length of y_test :17505

In [33]:
X

,HEAT_ID,112,113,114,115,116,117,118,119,120,...,190,207,208,209,210,211,212,213,214,215
0,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1701192,0.0,50306.6,3473.6,2215.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419167,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0
419174,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0
419175,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0
419177,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0
419178,1811206,0.0,32147.5,0.0,0.0,0.0,51038.7,6841.5,6534.9,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8785.2,0.0,0.0

In [63]:
y

0          59
2          63
3          71
5          89
11         90
         ...
419167    147
419174    212
419175    193
419177     55
419178    216
Name: DEFECT_TYPE, Length: 87521, dtype: int64

### KNeighborsClassifier

In [64]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=2)
neigh.fit(X_train, y_train) 
neigh.score(X_train,y_train)

0.16043475776965266

In [65]:
neigh.predict([[1710018,0,47683.0,0,9217.5,0,8420.0,0,0,8929.0,26208.6,0,6673.3,0,52351.4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])

array([184], dtype=int64)

In [66]:
X_test

,HEAT_ID,112,113,114,115,116,117,118,119,120,...,190,207,208,209,210,211,212,213,214,215
219355,1714732,0.0,39277.1,0.0,0.0,0.0,19933.6,0.0,0.0,8766.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
357032,1805402,0.0,22581.2,0.0,0.0,0.0,13435.4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
203216,1713816,0.0,49894.0,3174.0,1813.0,3174.0,35379.0,0.0,4534.0,1813.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
218694,1714674,0.0,41089.6,0.0,0.0,0.0,47818.2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
281795,1800880,0.0,40450.1,4478.3,4361.7,0.0,40842.9,0.0,0.0,4576.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4200,1701432,0.0,49893.9,3173.8,1812.6,3173.8,35378.9,0.0,4533.7,1812.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13615,1701828,0.0,49623.1,5561.0,2278.9,0.0,30044.2,0.0,5059.8,2287.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298216,1801918,0.0,44876.7,4624.8,0.0,0.0,28961.5,0.0,0.0,4130.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
414666,1811000,0.0,27477.3,0.0,7359.5,0.0,12841.7,37689.9,5747.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7258.8,0.0,0.0
338777,1804268,0.0,46689.7,4847.5,0.0,0.0,56608.4,0.0,0.0,4726.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
y_pred=neigh.predict(X_test)
df3=pd.DataFrame(data=y_test, columns=['y_test'])
df3['y_pred']=y_pred
df3

      y_test  y_pred
0        NaN     190
1        NaN     149
2        NaN     173
3        NaN      89
4        NaN     190
...      ...     ...
17500    NaN     149
17501    NaN      90
17502    NaN     149
17503    NaN     182
17504    NaN     182

[17505 rows x 2 columns]

##### LogisticRegression

In [68]:
'''
#LogisticRegression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver='liblinear',multi_class='ovr' ,C=10)
lr.fit(X_train, y_train)
lr.score(X_test, y_test)
'''

"\n#LogisticRegression\nfrom sklearn.linear_model import LogisticRegression\nlr = LogisticRegression(solver='liblinear',multi_class='ovr' ,C=10)\nlr.fit(X_train, y_train)\nlr.score(X_test, y_test)\n"

In [69]:
#lr.predict([[1710018,0,47683.0,0,9217.5,0,8420.0,0,0,8929.0,26208.6,0,6673.3,0,52351.4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])

In [70]:
#len([1710018,0,47683.0,0,9217.5,0,8420.0,0,0,8929.0,26208.6,0,6673.3,0,52351.4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0])

In [71]:
#len(["HEAT_ID", 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 124, 125, 126, 166, 180, 181, 182, 183, 190, 207, 208, 209, 210, 211, 212, 213, 214, 215, "Sum"])

In [72]:
#f=len([1710018,0,47683.0,0,9217.5,0,8420.0,0,0,8929.0,26208.6,0,6673.3,0,52351.4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0])
#f

#### RandomForestClassifier

In [73]:
'''
#Random Forest
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(max_depth=10, n_estimators=40)
rf.fit(X_train, y_train)
rf.score(X_test, y_test)
'''

'\n#Random Forest\nfrom sklearn.ensemble import RandomForestClassifier\n\nrf = RandomForestClassifier(max_depth=10, n_estimators=40)\nrf.fit(X_train, y_train)\nrf.score(X_test, y_test)\n'

In [74]:
#rf.predict([[1710018,0,47683.0,0,9217.5,0,8420.0,0,0,8929.0,26208.6,0,6673.3,0,52351.4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])

### DecisionTreeClassifier

In [75]:
'''
#Decision tree
from sklearn import tree
DecTree = tree.DecisionTreeClassifier(max_depth=70, criterion='entropy',splitter='best')

DecTree.fit(X_train,y_train)
DecTree.score(X_train,y_train)
'''

"\n#Decision tree\nfrom sklearn import tree\nDecTree = tree.DecisionTreeClassifier(max_depth=70, criterion='entropy',splitter='best')\n\nDecTree.fit(X_train,y_train)\nDecTree.score(X_train,y_train)\n"

In [76]:
#DecTree.predict([[1710018,0,47683.0,0,9217.5,0,8420.0,0,0,8929.0,26208.6,0,6673.3,0,52351.4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])

In [77]:
#DecTree.predict([[1701194, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4545.9, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4545.9]])

In [78]:
#ch=[1701194, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4545.9, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4545.9]
#len(ch)

### neural_network MLPClassifier

In [79]:
'''
from sklearn.neural_network import MLPClassifier
nralclf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
nralclf.fit(X_train, y_train) 
nralclf.score(X_train,y_train)
'''

"\nfrom sklearn.neural_network import MLPClassifier\nnralclf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)\nnralclf.fit(X_train, y_train) \nnralclf.score(X_train,y_train)\n"

In [80]:
#nralclf.predict([[1710018,0,47683.0,0,9217.5,0,8420.0,0,0,8929.0,26208.6,0,6673.3,0,52351.4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])

### LinearRegression

In [81]:
'''
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train) 
reg.score(X_train,y_train)
'''

'\nfrom sklearn.linear_model import LinearRegression\nreg = LinearRegression()\nreg.fit(X_train, y_train) \nreg.score(X_train,y_train)\n'

In [82]:
#reg.predict([[1710018,0,47683.0,0,9217.5,0,8420.0,0,0,8929.0,26208.6,0,6673.3,0,52351.4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])

### Support Vector Machine

In [83]:
#SVM
#from sklearn.svm import SVC
#svm = SVC(gamma='auto')
#svm.fit(X_train, y_train)
#svm.score(X_test, y_test)

In [84]:
#svm.predict([[1710018,0,47683.0,0,9217.5,0,8420.0,0,0,8929.0,26208.6,0,6673.3,0,52351.4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])

## Pickle Model:

I choosed Decission tree Coz It has better score from others:

In [85]:
import pickle
#Model save in file to write mode
with open('finalized_model_neigh','wb') as f:
    pickle.dump(neigh,f)

#### Select Model Appro:1

Creating test harness , we will use 10-fold cross -validation into 10 parts crane on the 9 part estimate to "accuracy"
split our data set into 10 part:train on the 9 part and test on the 1 part and this will be repeat for all combination of train and test pilots

In [56]:
#array=df.values # create a list of array with data
#X=array[:,0:29] # all the column from 0-4
#y=array[:,30] # the result/output cloumn 4
#validation_size=0.20 #test data 0.2% from the data set
#seed=6 #random number
#X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size=validation_size, random_state=seed)

In [57]:
#seed =6
#scoring='accuracy'

In [58]:
#spot Check Algorithms
#models=[]
#models.append(('LR',LogisticRegression()))
#models.append(('LDA',LinearDiscriminantAnalysis()))
#models.append(('KNN',KNeighborsClassifier()))
#models.append(('CART',DecisionTreeClassifier()))
#models.append(('NB',GaussianNB()))
#models.append(('SVM',SVC()))
#evalute each model in turn
#results=[]
#names=[]
#for name,model in models:
#    kfold=sklearn.model_selection.KFold(n_splits=10,random_state=seed)
#    cv_results=sklearn.model_selection.cross_val_score(model,X_train,y_train,cv=kfold,scoring=scoring)
#    results.append(cv_results)
#    names.append(name)
#    msg="%s: %f (%f)" % (name,cv_results.mean(),cv_results.std())
#    print(msg)

C:\Users\rahim\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:297: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:297: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
Result:LR: 0.129470 (0.003673)
Result: LDA: 0.106433 (0.004029)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:297: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
Result: KNN: 0.010126 (0.000913)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:297: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
Result: CART: 0.002114 (0.000815)
C:\Users\rahim\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:297: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
Result: NB: 0.002028 (0.003543)

### Approach 2: Use K Fold Cross validation

Manually try suppling models with different parameters to cross_val_score function with 5 fold cross validation